@model MyToDo.Model.Todo
@{
    ViewBag.Title = "Create";
}

<h2>Create an item</h2>

<form asp-controller="Todo" asp-action="Create">

    <textarea asp-for="Description" rows="5" cols="40"></textarea>
      
    <div>
        <input type="submit" value="Save" />
    </div>
      
</form>