@model IEnumerable<MyToDo.Model.Todo>
@{
    ViewBag.Title = "Your todos";
}

@if (!Model.Any())
{
    <p>You've no items in your to do list</p>
}
    
<ul>
@foreach(var item in Model)
{
    <li>@item.Description - <a asp-action="Delete" asp-route-id="@item.TodoId">Delete</a></li>
}
</ul>